/hard_coded/casinhas.png
/hard_coded/dificil.png
/hard_coded/elitismo.png
/hard_coded/torneio.png
/hard_coded/tretoso.png
/bibs/*.swp
/*.swp
/a.out
/bibs/evo.o
/test
/teste.o
/dados
/hard_coded/seno.png
/dadose
/dadose_grafico.png
/dadost
/dadost_grafico.png
/back
/dados_e
/dados_e_grafico.png
/dados_t
/dados_t_grafico.png
/dados_r
/dados_r_grafico.png
bibs/temp
bibs/makefile
